.container {
    width: 100vw;
    background-color: hsla(214, 28%, 32%, 0.7);
    justify-content: center;
}

.navbarBrand {
    font-size: 2.1em;
}

li {
    margin-left: 5vw;
    /* margin-bottom: 2vw; */
    display: inline;
    font-size: 1.4em;
}

a.navlink{
    float: right;
}