html{
    background-image: url('../assets/background-bright-close-up-413195.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-left: 1vw;
    margin-top: 1.5em;
    border-radius: 100%;
}

.container {
    width: 100vw;
    background-color: #FFFFFF;
    max-height: 17vh;
}

.navbar-brand {
    font-size: 5.7em;
    font-weight: 900;
    font-family: 'Amatic SC', cursive;
    color: #086324;
    margin-left: 0.5em;
    top: 0.7em;
    text-shadow: 0.01em 0.01em 0.11em hsl(50, 10%, 40%);
>>>>>>> cfdb856d0a37ad37f13ea349903d6cadc10099ed
    position: absolute;
    padding: 10px;
    margin: 6px;
    height: 10vh;
    width: 35vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.fields {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    color: #FFFFFF;
}
.button {
    background-color: blue;
    color: white;
    height: 7vh;
    width: 50px;
    margin-top: 1em;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px
}