html{
    background-image: url('../assets/background-bright-close-up-413195.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-left: 1vw;
    margin-top: 1.5em;
    border-radius: 100%;
}

.container {
    width: 100vw;
    background-color: #FFFFFF;
    max-height: 17vh;
}

.navbar-brand {
    font-size: 5.7em;
    font-weight: 900;
    font-family: 'Amatic SC', cursive;
    color: #086324;
    margin-left: 0.5em;
    top: 0.7em;
    text-shadow: 0.01em 0.01em 0.11em hsl(50, 10%, 40%);
    position: absolute;
    text-decoration-line: none;
}

.nav-link {
    color: #4d596f;
    margin-left: 1vw; 
    display: inline;
    font-size: 1.6em;
    text-decoration-line: none;
}

button{
    background-color: transparent;
    border-radius: .4em;
    position: relative;
    font-family: 'Rancho', cursive;
    border: none;
    text-decoration: none;
    text-align: center;
}

button:hover{
    transition: 100ms;
    box-shadow: 0.1em 0.1em 0.2em hsl(100, 50%, 9%);
    background-color: hsla(0, 0%, 96%, 0.5)
}

#button {
    left: 80vw;
    position: relative;
    top: -3.6em;
    font-size: 2.2em
}

footer {
    width: 100vw;
    background-color: #FFFFFF;
    position: sticky;
    top: 100vh;
    text-align: center;
    justify-content: center;
    height: 5vh;

}