<html>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Garden Shop</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <!-- <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li> -->
          <button id='button' type="button" class="btn btn-secondary nav-link"><a class="nav-link" routerLink="products">Products</a></button>
          <button id='button' type="button" class="btn btn-secondary nav-link"><a class="nav-link" routerLink="about">About</a></button>
      </ul>
  </div>
</nav>
<div>

</div>
<footer>
  <button id='button2' type="button" class='btn btn-secondary nav-link'><a class='nav-link' routerLink='contact'>Contact</a></button>
  <button id='button2' type="button" class='btn btn-secondary nav-link'><a class='nav-link' routerLink='adminLogin'>Admin Login</a></button>
</footer>
</html>
<router-outlet></router-outlet>
