#body {
    background-image: url("../assets/background-bright-close-up-413195.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
    /* overflow: scroll; */
}


.deck {
    display: inline-block;
    font-family: 'Amatic SC', cursive;
   
}

.card {
    display: inline-block;
    box-shadow: 0 0.5em 1em rgba(153, 39, 39, 0.2);
    transition: 0.3s;
    width: 25vw;
    text-align: center;
    margin: 10px;
    background-color: rgba(245, 245, 245, 0.966);
    align-items: center;
    
}

.card:hover {
    box-shadow: 0.5em 0.5em 2em #d4198079
}

.cardContainer {
    padding: 3em 2em;
}

.cardContainer img{
    max-width: 10vw;
    max-height: 20vw;
}
